/*Import de Font Family*/
@import url( 'https://fonts.googleapis.com/css?family=Quicksand');

.body,
html {
    font-family: 'Quicksand', sans-serif;
    margin: 0 !important;
    padding: 0 !important;
}

.card-home {
    display: flex;
    border-radius: 10px;
    flex-direction: column;
    padding: 8px;
    box-shadow: 0 3px 6px rgba(41, 40, 40, 0.16), 0 3px 6px rgba(0,0,0,0.23);
    /*Background-image del card*/
    background-position: center;
    background-size: cover;
    background-color: rgb(100, 100, 100) !important;
    background-blend-mode: soft-light;
}
.agenda-informativa-title {
    background: #34e89e;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #0f3443, #34e89e);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #0f3443, #34e89e);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.title-principal {
    display: flex;
    font-size: 2em;
    color: white;
    text-align: center;
    justify-content: center;
    border-radius: 8px;
    background: #6441A5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
/*Botón docentes insignia*/
.b-docentes-insignia {
    display: flex;
    justify-content: center;
    margin: auto;
    background: #6441A5;
    overflow: hidden;
    box-sizing: border-box;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2a0845, #6441A5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2a0845, #6441A5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
/*Cards tools-doc*/
.tools-doc {
    display: flex;
    flex-direction: row;
    margin: 10px;
    border-radius: 10px;
}
